body{background-color:#f2deb6;}
td{text-align:left;}
table#q{background-color:#97d4da;}
h1{font-family:'Papyrus';font-size:50;color:#6f362d;margin-left:10%;}
table,table#a{color:#6f362d;}
h2,td,p,h2#r,li,h3{text-align:center;font-family:'Papyrus';size:25;color:#6f362d;font-weight:bold;}
hr#q,hr#w,hr#e,hr#m{background-color:#6f362d;}
ol{list-style:lower-alpha inside;}
ul{list-style:inside;}
h3#r,h3#y{text-align:left;text-decoration:underline;font-size:large;}
p{font-size:large;text-align:left;}
h2#t{text-align:left;text-align:justify;decoration:underline;font-size:xx-large}
sup{font-size:50;}
a:link{color:green;}
a:visited{color:maroon;}
a:hover{color:teal;}
a:active{color:teal;}
h2#u{text-align:center;font-size:xx-large}
h3#i,p#l{text-align:center;font-weight:bold;}
caption{text-align:center;font-family:'Papyrus';size:25;color:#6f362d;font-weight:bold;}
h2#n,h2#v,h3#z{text-align:left;font-family:'Papyrus';size:25;color:#6f362d;font-weight:bold;}
h5{text-align:left;font-family:'Papyrus';size:25;color:#6f362d;font-weight:bold;}
font{text-align:center;font-family:'Papyrus';size:25;color:#6f362d;font-weight:bold;}
li{text-align:left;}
table#k{border-collapse:seperate;border-spacing:100px;background-color:#97d4da}
h2#t{text-align:center;}
p#j{text-align:center;}
h3#e{text-align:left;}



